@model MotoGP.Models.Ticket
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var time = DateTime.Now.ToString("dd/MM/yyyy");
}

<style>
    .centered {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>
    <p>Thank you <b>@Model.Name</b> 
        for ordering tickets for the race in <b>@Model.Race.Name</b> 
        on <b>@Model.Race.Date.ToString("dd/MM/yyyy")</b> 
        Your booking is registered on <b>@time</b>. 
        We will send the <b>@Model.Number</b> 
        tickets as soon as possible. </p>
    <a asp-controller="Home" asp-action="Index">Back</a>
