@model MotoGP.Models.ViewModels.ListTicketsViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    table {
        width: 100%;
        border: 1px solid;
        border-collapse: collapse;
        text-align: center;
    }
    th{
        background-color: lightblue;
    }
    td{
        border: 1px solid;
    }
</style>

<form asp-controller="Shop" asp-action="ListTickets" method="get">
    <select asp-for="raceID" asp-items="Model.Races">
        <option value="0">--Select race--</option>
    </select>
    <input type="submit" value="Filter" />
</form>

@if (Model.Tickets.Count > 0)
{
    <table>
        <thead>
            <tr>
                <th>OrderDate</th>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Country</th>
                <th>Race</th>
                <th>Number</th>
                <th>Payment</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Tickets)
            {
                <tr>
                    <td>@(Html.DisplayFor(modelItem => item.OrderDate ))</td>
                    <td>@(Html.DisplayFor(modelItem => item.Name ))</td>
                    <td>@(Html.DisplayFor(modelItem => item.Email ))</td>
                    <td>@(Html.DisplayFor(modelItem => item.Address ))</td>
                    <td>@(Html.DisplayFor(modelItem => item.Country.Name ))</td>
                    <td>@(Html.DisplayFor(modelItem => item.Race.Name ))</td>
                    <td>@(Html.DisplayFor(modelItem => item.Number ))</td>
                    <td>
                    @if (item.Paid)
                    {
                        <text>Paid</text>
                    }
                    else
                    {
                        <a asp-controller="Shop" asp-action="EditTicket" asp-route-id="@item.TicketID">Pay</a>                            
                    }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No Ticketes ordered for this race yet</p>
}

    <!-- Back to previous page in webbrowser -->
<p><a href="javascript:history.back()">Back</a></p>
